.app-aboutus {
	.section__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 70vh;
		position: relative;
		z-index: 2;

		.app-aboutus__left,
		.app-aboutus__right {
			display: flex;
			flex-direction: column;
			max-width: 64rem;

			&__p-text {
				margin: 3rem 0;
			}
		}

		.app-aboutus__right {
			margin-top: 4rem;
		}

		.app-aboutus__left {
			align-items: flex-start;
			align-self: flex-start;
			margin-bottom: 4rem;
			img {
				transform: rotate(180deg);
			}
			&__p-text {
				@include p_text(left);
			}
		}

		.app-aboutus__middle {
			position: relative;
			&__knife {
				max-height: 32rem;
				max-width: 5rem;
			}

			&__g {
				position: absolute;
				inset: 0;
				display: block;
				z-index: -1;
				transform: translate(-45%, 0%);
				width: 32rem;
				height: 32rem;
				opacity: 0.5;
			}
		}

		.app-aboutus__right {
			align-self: flex-end;
			align-items: flex-end;
			&__p-text {
				@include p_text(right);
			}
		}

		@include respond-to('tablet') {
			.app-aboutus__middle {
				&__knife {
					max-height: 54rem;
					max-width: 10rem;
				}
				&__g {
					transform: translate(-45%, 40%);
				}
			}
		}

		@include respond-to('desktop') {
			flex-direction: row;
			// align-items: flex-start;
			.app-aboutus__left,
			.app-aboutus__right {
				align-self: initial;
				max-width: 32rem;
			}

			.app-aboutus__right {
				margin-top: 0;
			}

			.app-aboutus__middle {
				margin: 0 4rem;

				&__knife {
					max-height: 94rem;
					max-width: 14rem;
				}

				&__g {
					width: 52rem;
					height: 52rem;
				}
			}
		}
	}
}
