.app {
	&__video {
		height: 80vh;
		position: relative;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__video-overlay {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		inset: 0;
		background: rgba(0, 0, 0, 0.65);
		margin-bottom: -1px;

		&__circle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10rem;
			height: 10rem;
			border-radius: 50%;
			opacity: 0.3;
			border: 1px solid $color-golden;
			cursor: pointer;
			transition: opacity 0.3s ease;

			&:hover {
				opacity: 1;
			}
		}
	}
}
