.app__map {
	& .section__wrapper {
		text-align: center;
		& .leaflet-container {
			max-height: 50rem;
			border: 2px solid $color-golden;

			& .leaflet-shadow-pane {
				opacity: 0;
			}
			& .leaflet-marker-pane {
				& img {
					object-fit: cover;
					width: 100%;
				}
			}

			& .leaflet-popup-pane {
				font-size: 1.4rem;
				font-family: $font-alt;
			}
		}

		@include respond-to('desktop') {
			& .leaflet-container {
				& .leaflet-popup-pane {
					font-size: 1.6rem;
				}
			}
		}
	}
}
