.app-special-menu {
	& .section__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		margin-bottom: 2rem;
		& .large_sub_heading {
			& > h2 {
				margin-inline: auto;
				width: fit-content;
			}
		}

		.app-special-menu__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			margin: 2rem 0;
			width: 100%;

			&__left,
			&__middle,
			&__right {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			&__left,
			&__right {
				& > h3 {
					@include special_menu_title;
					width: fit-content;
					margin-bottom: 2rem;
				}
			}

			&__middle {
				align-self: center;
				& img {
					max-width: 32rem;
					height: auto;
				}
			}
		}

		& .gold__button {
			@include gold-button;
		}

		@include respond-to('desktop') {
			.app-special-menu__wrapper {
				flex-direction: row;
				align-items: flex-start;
				margin: 4rem 0;
			}
		}
	}
}
