@keyframes slide-bottom {
	0% {
		transform: translateY(-25%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes move-down-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(1rem);
	}
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
