.section__wrapper {
	max-width: $layout-max-width;
	margin-inline: auto;
	padding: 3rem 6rem;

	@include respond-to('tablet') {
		padding: 4rem 6rem;
	}

	@include respond-to('large-desktop') {
		padding: 4rem 0;
	}
}

.small_sub_heading h2 {
	@include small_sub_heading;
}

.large_sub_heading h2 {
	@include large_sub_heading;
}
