.section__wrapper {
	max-width: $layout-max-width;
	margin-inline: auto;
	padding: 3rem;
	padding-bottom: 6rem;
	overflow-x: hidden;

	@include respond-to('tablet') {
		padding: 6rem 6rem;
	}
	@include respond-to('desktop') {
		padding: 9rem 6rem;
	}
	@include respond-to('large-desktop') {
		padding: 12rem 0;
	}
}

.small_sub_heading {
	@include small_sub_heading;
}

.large_sub_heading {
	@include large_sub_heading;
}

.gold__button {
	@include gold-button;
}

.footer_sub_heading {
	@include footer_sub_text;
}
