// General
@mixin base-font {
	font-family: $font-base;
	color: $color-white;
	font-weight: 700;
	letter-spacing: 0.04em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	line-height: 29.9px;
	font-size: 23px;
}

@mixin alt-font {
	font-family: $font-alt;
	color: $color-white;
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 28px;
	font-size: 16px;
}
